<!DOCTYPE html>
<html>
    <head>
        <title>Morningstar Coffee Pot</title>
        <link rel="Stylesheet" type="text/css" href="/static/styles/coffee.css" />
    </head>
    <body>
        <div style="margin: 0 auto; width: 940px; text-align: center;">
            <div>Morningstar Coffee Status:</div>
            <div id="coffee"></div>
            <div data-bind="text: updated"></div>
        </div>
        
        <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>        
        <script src="http://ajax.aspnetcdn.com/ajax/knockout/knockout-2.2.1.js"></script>
        <script src="/static/scripts/raphael-min.js"></script>
        <script src="/static/scripts/moment.min.js"></script>
        <script src="/static/scripts/coffee.js"></script>
    </body>
</html>
