<!DOCTYPE html>
<html>
    <head>
        <title>Morningstar Coffee Bot</title>
    </head>
    <body>
        <div>Morningstar Coffee Status:</div>
        <div data-bind="text: weight"></div>
        <div data-bind="text: percent"></div>
        
        <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>        
        <script src="http://ajax.aspnetcdn.com/ajax/knockout/knockout-2.2.1.js"></script>
        <script>
            MstarCoffee = (function() {
                self = {};

                self.weight = ko.observable();
                self.percent = ko.observable();
            
                var getStats = function() {
                    $.getJSON('/stats', function(data) {
                        self.weight(data.weight);
                        self.percent(data.percent);
                    });
                };
                getStats();
                setInterval(getStats, 10000);

                return self;
            }());

            ko.applyBindings(MstarCoffee);

        </script>
    </body>
</html>
